/* Fundo geral da página */
.pagina-tema {
    background-color: #093b6d; 
    color: #FFFFFF; 
    font-family: Arial, sans-serif;
}


/* Estilização dos Cards */
.card {
    background-color: #704708; 
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Estilização do Avatar */
.avatar-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #BDC3C7; 
    background-color: #ECF0F1; 
    padding: 5px;
}

/* Botões */
.btn-primary {
    background-color: #3498DB; 
    border: none;
}

.btn-success {
    background-color: #27AE60; 
    border: none;
    
}
.btn-voltar {
    background-color: #bdbbb6; 
    border: none;
    margin-bottom: 2%;
}

/* Define o fundo laranja */
.navbar {
    width: 100%; /* Define uma largura menor */
    height: auto; /* Define uma altura fixa */
    margin: 0 auto; /* Centraliza na tela */
    background-color: #FFA500; 

}
/* Estilização do texto de spam */
.spam-text {
    background-color: #FFA500;
    color: #020202; 
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Ajuste do tamanho da logo */
.logo-img {
    width: 80px; /* Reduzindo para melhor encaixe */
    height: auto;
    margin-right: 10px;
}


.footer {
    background-color: #e69500;
    color: #141313;
    padding: 10px 0;
    width: 100%;
    height: 60px;
    font-size: 15px;
    text-align: center;
}


/*botoes paginação*/
.pagination .page-item .page-link {
    color: #070707; 
    background-color: #FFA500; 
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    border: none;
}

/*Mensagem acima da lista quando filtra*/
.pagination-text {
    color: #ffffff; /* Texto branco */
    text-align: center; /* Centralizado */
    font-size: 14px; /* Tamanho adequado */
    margin-top: 0px; /* Espaço entre paginação e texto */  
}

.container {
    max-width: 800px;
}

h1 {
    color: #FFA500; /* Cor laranja para combinar com a identidade visual */
}

.lead {
    font-size: 18px;
    color: #ffffff;
}

.btn-lg {
    margin: 10px;
}

#filtro-resultados {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1px; /* Espaçamento entre os cards */
}

/*imagem da home*/
.basquete-img {
    width: 20%; /* Reduzindo para melhor encaixe */
    height: auto;
    margin-right: 10px;
}

/* Estilização do card flip */

.card p {
    word-break: break-word; /* quebra palavras longas */
    white-space: pre-wrap;  /* respeita quebras de linha e espaços */
    overflow-wrap: break-word;
    margin-bottom: 2px; 
}

.card .btn {
    margin-top: auto;
    align-self: center;
}


.card.front,
.card.back {
    min-height: 320px; /* ajuste conforme necessário */
    display: flex;
    flex-direction: column;

}
.card-flip {
    perspective: 1000px;
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 320px;
}

.card-flip .card {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.6s ease-in-out;
    border: none;
    border-radius: 12px;
    color: #141313;
}

.card-flip .front {
    z-index: 2;
    transform: rotateY(0deg);

}

.card-flip .back {
    transform: rotateY(180deg);
    overflow-y: auto;
    max-height: 100%;
    padding-right: 10px;
    color: #141313;
    text-align: left;
}

.card-flip.flipped .front {
    transform: rotateY(-180deg);
}

.card-flip.flipped .back {
    z-index: 3;
    transform: rotateY(0deg);
}

.scrollable-info {
    overflow-y: auto;
    max-height: 300px;
    padding-right: 10px;
    text-align: left;
    gap: 4px; /* Espaço compacto entre os <p> */
    display: flex;
    flex-direction: column;
    
}

.scrollable-info::-webkit-scrollbar {
    width: 6px;
}

.scrollable-info::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
}


.botao-container {
    display: flex;
    justify-content: center;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;

}

select.disabled, input.disabled {
    background-color: #eee !important;
    color: #999 !important;
    cursor: not-allowed;
}

  /* Remove underline*/
  a.video-link {
      text-decoration: none;    
  }
  
  a.video-link:hover {
      color: #0056b3;
  }
  
  /* Ajustes para as instruções de vídeo */
  p.video-instructions {
      margin-bottom: 0.5rem;
      font-size: 1rem;
      color: #ffffff;
  }
  
  ul.video-requirements {
      margin: 0 0 1rem 1rem;
      padding: 0;
      list-style-type: disc;
  }
  
  ul.video-requirements li {
      margin-bottom: 0.3rem;
      font-size: 0.95rem;
  }

